
<div class="container">
  <h3 appHighlight>Survolez-moi pour voir la surbrillance !</h3>
  <input type="text" [(ngModel)]="title"  placeholder="rechercher"  class="form-control mb-3"/>
  <div class="row">
   
   <div class="col-md-4" *ngFor="let category of categories | filtre:title"
     style="margin-bottom: 20px;">
  
  <!--     <div *ngIf="!titre || category.title.toLowerCase().includes(titre.toLowerCase())" class="col-md-4" style="margin-bottom: 20px;" >--> 
      <!--  <div class="col-md-4" *ngFor="let category of filterCateg" style="margin-bottom: 20px;">--> 
          <img [src]="category.image" [alt]="category.title" class="img-fluid h-50 w-75" (click)="afficherdescription(category.description)">
          <h3>{{ category.title |uppercase }}</h3>
          <button *ngIf="category.available" class="btn btn-primary">Voir produits</button>
          <p *ngIf="!category.available" class="text-danger">Catégorie non disponible</p>
    </div >
    
</div>